// Заголовки, общие БЄМ блоки и проче...

.btn {
    font-weight: 700;
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 10px;
    background-color: $greenColor;  
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;

    &:hover {
        color: $blackColor;
        background-color: #fff;
    }
    &_border {
        border: 1px solid $greenColor;
        background-color: transparent;
        &:hover {
            background-color: rgb(116, 116, 116);
        }
    }
}

.preamble {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 40, 20);
    padding: 20px;
    // background: linear-gradient(180deg, #1b1b20 -30%, rgba(63, 63, 67, 0) 100%);
    &__title {
        max-width: 50%;
        text-align: center;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        @include adaptiveValue("font-size", 34, 20);
    }
    &__text {
        text-align: center;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        font-family: "Roboto";
        letter-spacing: 0.5px;
        font-weight: 400;
        @include adaptiveValue("font-size", 20, 16);
        line-height: 23px;
    }
}
