//========================================start-screen============================================================
main {
  // width: 100vw;
  // height: 100vh;
  background: url("../img/start-screen/start-screen-bg-3.jpg") center center /
    cover no-repeat;
  background-attachment: fixed;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(51, 51, 60, 0.85),
      rgba(51, 51, 60, 0.85)
    );
    mix-blend-mode: multiply;
    z-index: 1;
  }
}
.start-screen {
  margin-bottom: 100px;

  &__container {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding-top", 70, 40);
  }

  &__top {
    color: $mainColor;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 0 40px;
    @include adaptiveValue("padding-top", 80, 21);
    @include adaptiveValue("padding-bottom", 100, 20);
    background: linear-gradient(180deg, #1b1b20 0%, rgba(63, 63, 67, 0) 100%);
    @media (max-width: em(767.98)) {
      row-gap: 30px;
      align-items: start;
    }
    @media (max-width: em(506.98)) {
      flex-direction: column;
    }
    @media (max-width: em(420.98)) {
      align-items: center;
    }
  }
  &__content {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    @media (max-width: em(767.98)) {
      align-self: center;
    }
    @media (max-width: em(587.98)) {
      order: 2;
    }
    @media (max-width: em(506.98)) {
      text-align: center;
    }
  }
  &__metier {
    font-weight: 700;
    @include adaptiveValue("font-size", 34, 20);
  }

  &__name {
    color: #55bc44;
    text-transform: uppercase;
    font-weight: bold;
    @include adaptiveValue("font-size", 58, 25);
    @media (max-width: em(676.98)) {
      font-size: rem(30);
    }
    @media (max-width: em(357.98)) {
      font-size: rem(25);
    }
  }

  &__greeting {
    flex: 1 1 auto;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    font-family: "Roboto";
    letter-spacing: 0.5px;
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 16);
    line-height: 23px;
    @media (max-width: em(767.98)) {
      padding: 0;
      row-gap: 10px;
    }
    @media (max-width: em(587.98)) {
      order: 3;
    }
  }
  &__text {
  }

  &__avatar {
    align-self: center;
    margin-right: 60px;
    @include adaptiveValue("margin-right", 50, 0);
    flex: 0 0 32.5%;
    padding-top: 32.5%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    & img {
      position: absolute;
      width: 100%;
      top: -45px;
      left: 0;
      @media (max-width: em(829.98)) {
        top: -20px;
      }
    }
    @media (max-width: em(767.98)) {
      margin-right: 0;
    }
    @media (max-width: em(587.98)) {
      order: 1;
    }
    @media (max-width: em(506.98)) {
      width: 50%;
      padding-top: 50%;
    }
  }
  &__social {
    align-self: center;
    @media (max-width: em(587.98)) {
      order: 4;
    }
  }

  &__bottom {
    @media (max-width: em(420.98)) {
      display: none;
    }
  }
  &__skills {
    flex: 0 0 100%;
  }
}

.social-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include adaptiveValue("row-gap", 21, 5);
  // @include adaptiveValue("row-gap", 120, 30);

  @media (max-width: em(587.98)) {
    flex-direction: row;
    column-gap: 15px;
  }

  &__item {
    width: 35px;
    height: 35px;
    overflow: hidden;
  }

  &__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}

.skills-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
  margin-top: 30px;
  padding: 10px;
  position: relative;
  & > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    display: block;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(85, 188, 68, 0.6) 0%,
      $greenColor 100%
    );
    overflow: hidden;
    z-index: 1;
    animation: move 7s ease-in-out 1 forwards;
    @media (max-width: em(424.98)) {
    }
  }
  @keyframes move {
    0% {
      width: 0 0;
    }
    100% {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("font-size", 25, 16);
    font-weight: bold;
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
    &_color-1 {
      color: #b31d28;
    }
    &_color-2 {
      color: #044289;
    }
    &_color-3 {
      color: #f9c513;
    }
    &_color-4 {
      color: #61dafb;
    }
    &_color-5 {
      color: #764abc;
    }
    &_color-6 {
      color: #d1d5da;
    }
  }
}

// ==============================================start-screen==============================================

// =================================================portfolio==============================================

.portfolio {
  position: relative;
  z-index: 2;
  @include adaptiveValue("margin-bottom", 40, 20);
  &__container {
    & > :not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }

  &__preamble {
  }

  &__list-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: em(767.98)) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: em(584.98)) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    padding-top: 80%;
  }
}

.card-portfolio {
  overflow: hidden;
  position: relative;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__drawer {
  }
}

.drawer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 60px;
  padding: 10px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #1b1b20 -60%,
    rgba(63, 63, 67, 0.32) 140%
  );
  transition: top 0.5s ease;
  position: absolute;
  top: -89%;
  left: 0;

  &__top {
    align-items: flex-start;
  }
  &__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 15px;
  }
  &__title {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    position: relative;
  }

  &__button {
    flex: 1 0 30%;
  }
  &_blank {
    top: 0;
    & > p {
      text-transform: uppercase;
      font-size: rem(20);
      font-weight: bold;
      display: inline-block;
      position: absolute;
      top: 20%;
      // left: 50%;
      // transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  &__arrow {
    position: absolute;
    bottom: 4%;
    width: 23px;
    height: 23px;
    margin: 0 auto;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-left: 4px solid $greenColor;
      border-bottom: 4px solid $greenColor;
      transform: rotate(-45deg);
    }
  }
}

.active {
  &_drawer {
    top: 0;
  }
  &_arrow {
    transform: rotate(180deg);
  }
}
// =============================================portfolio==============================================
//
//=====================================================================================================
